#errbox{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 20px;
    background-color: #f44336eb;
    box-shadow: 0 3px 17px -5px grey;
    color: white;
    display: none;
    opacity: 0.5;
    transition: 1s;
    
}

#errbox-p{
    margin: 0;
}