











/* setting */







select{
    border: 1px solid #b9b9b9;
    border-radius: 3px;
    outline-color: gainsboro;
}

.profile-input-setting p{
    color: #5e5c5c;
    margin: 8px;
}

 .profile-info{
    margin-top: 20px;
    text-align: end;
    color: #747474;
 }


 .profile-input-setting{
    text-align: end;
    font-size: 20px;
    margin: 70px 0;
 }

 .input-5066{
    outline: 0;
    border: none;
    border-bottom: 1px solid #8080806b;
    direction: rtl;
 }

 #select-image-profile{
    border: 0.5px solid gainsboro;
    border-radius: 5px;
    margin-right: 9px;
 }

 #image-box{
    margin: 10px;
    border-radius: 50%;
    border: 1px solid gainsboro;
 }

 .bio-setting{
    margin-top: 10px;
 }

 .input-5074{
    width: 220px;
 }
 .input-5074::-webkit-scrollbar{
    width: 10px;
    background: rgb(196, 196, 196);
    border-radius: 20px;
}
.input-5074::-webkit-scrollbar-thumb{
    width: 10px;
    height: auto;
    border-radius: 20px;
    background: rgb(82, 82, 82);
}
.input-5074::-webkit-scrollbar-track{
    width: 10px;
    height: 300px;
    border-radius: 20px;
    background: rgb(190, 190, 190);
}


.input-5067{
    width: 60px;
}

.btn-save-setting{
    border: none;
    border-radius: 5px;
    background-color: #679be7;
    width: 57px;
    height: 34px;
    margin: 27px;
    margin-top: 44px;
    color: white;}
 .setting-body{
    box-shadow: 0 -2px 6px -5px;
    text-align: end;
    background-color: white;
 }

 @media (max-width: 576px){
    .dis-none {
    display: none!important;
    
}
 }


 #change-pass button{
    border: 0.5px solid gainsboro;
    border-radius: 5px;
    margin-right: 9px;
    font-size: 18px;
    padding: 7px;
 }

 #movescroll{
    
    display: grid;
    width: 90%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    position: sticky;
    top: 175px;
    list-style: none;
    float: left;
    padding: 0;
 }

 #movescroll a{
    color: rgb(150, 150, 150);
    margin: 20px;
    font-size: 20px;
 }