<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه اصلی</title>
    <link rel="stylesheet" href="../libraries/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libraries/nav.css">
    <link rel="stylesheet" href="../libraries/Style/postpage.css">
</head>
<body onload="loadbody()" class="text-center">
    <div id="menu-drop"></div>
    <div id="navbar">
      
        <nav id="mainmenu">
       
          <div id="logo-site">
            <img id="Logo" src="http://localhost:2005/image/Logo.png" alt="logo-site">
          </div>
          <div class="us-res">
            <div class="user-info">
              <div id="userimg" class="user-img"><img src="http://localhost:2005/image/user-image.png"></div>
              <div id="drop-exit">
                <p>پروفایل</p>
                <p>نوشتن</p>
                <p>تنظیمات</p>
                <p>خروج</p>
              </div>
            </div>
            <div class="search">
              <input placeholder="جستجو..." class="input-2022" type="text">
              <button id="btn-search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg></button>
            </div>
          </div>
          <div id="drop-btn"><button><svg style="color: rgb(0,168,232);" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
            <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
          </svg></button></div>
          
              <div id="menu-links">
                <ul id="menu-ul">
                  <li>خانه</li>
                  <li>ورزش</li>
                  <li>سلامت</li>
                  <li>اخبار</li>
                  <li>کسب و کار</li>
                </ul>
              </div>
          
                 
                 
      </nav>
    </div>
 <div id="post-detail">
    <div class="back-img"></div>
    <h2>   ...   </h2>
    <div id="release-time">
        <span>,,</span>
    </div>
    <div id="author">
        <img>
        <h4 id="author-name">...</h4>
        <button class="btn">دنبال کردن</button>
    </div>
   
 </div>


 <div class="container">
    <div id="post-content">
       ...
            </div>
            <div id="related-post">
                <h1 style="  color: #898686; direction: rtl; text-align: start;">پست های مرتبط :</h1>
                <ul id="related-ul" style="    padding: 0;">
                  <li v-for='x in relpost'>
                    <div class="img-selected">
                      <img v-bind:src="x.shimage">
                    </div>
                    <div class="selected-detail">
                      <h4>{{x.subject}}</h4>
                      <div class="post-owner">
                        <img v-bind:src="x.proimage">
                        <a>{{x.username}}</a>
                       </div>
                      <p class="time-release">{{x.redate}}</p>
                    </div>
                   
                  </li>
                 
                
                </ul>
            </div>
            <div style="justify-content: end;" class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xm-12" >
    <div  id="tag-line" >
        <div id="like-btns">
            <div id="like"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
              </svg><span style="    font-size: 18px;
              margin: 7px;">110</span></div>
            <div id="save">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                  </svg>
                              </div>
        </div>
        <div id="tags">
            <h3>تگ ها</h3>
            <ul style="
            padding: 0;
        ">
                <li>میوه</li>
                <li>اواکادو</li>
                <li>میوه کم یاب</li>
                <li>میوه های خوب</li>
                <li>میوا ها</li>
            </ul>
        </div>
    </div>
                </div>
                <div id="comment" class="col-lg-8 col-md-12 col-sm-12 col-xm-12">
                    <h1   style='color: #898686;'>نظرات :</h1>
                    <div id="user-name">
                        <img src="http://localhost:2005/image/download.jpg">
                        <h4>mahdi sogand</h4>
                    </div>
                    <div id="comment-inp">
                        <textarea placeholder="نظرتو بنویس..."></textarea>
                        <button>ارسال</button>
                    </div>
                    <div id="comments">
                        <ul style="padding: 0;">
                            <li>
                            
                                <div class="user-c">
                                    <img src="http://localhost:2005/image/user1.jpg">
                                    <h4>james coll smart</h4> 
                                </div>
                                <div class="comment-text">
                                    <p>خواص آووکادو سبب شده است تا این میوه راه ورود خود را به صنایع مختلف دارویی، آرایشی و بهداشتی یافته و نقش مهمی در بین مواد اولیه محصولات این حوزه ایفا نماید.</p>
                                </div>
                                    <div class="like-line">
                                        <div class="like"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                            <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"></path>
                                          </svg>
                                        <span>10</span></div>
                                        <div onclick="showinp(this)" class="reply">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                                                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
                                              </svg>
                                        </div>
                                    </div>
                            <div class="replys">
                                <div class="reply-inp">
                                    <button><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                      </svg></button>
                                    <input type="text" placeholder="نظرتو بنویس...">
                                </div>
                                <ul style="padding: 0;">
                                </ul>
                            </div>
                        </li>
                            <li>
                            
                                    <div class="user-c">
                                        <img src="http://localhost:2005/image/user1.jpg">
                                        <h4>james coll smart</h4> 
                                    </div>
                                    <div class="comment-text">
                                        <p>خواص آووکادو سبب شده است تا این میوه راه ورود خود را به صنایع مختلف دارویی، آرایشی و بهداشتی یافته و نقش مهمی در بین مواد اولیه محصولات این حوزه ایفا نماید.</p>
                                    </div>
                                        <div class="like-line">
                                            <div class="like"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"></path>
                                              </svg>
                                            <span>10</span></div>
                                            <div onclick="showinp(this)" class="reply">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                                                    <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
                                                  </svg>
                                            </div>
                                        </div>
                                <div class="replys">
                                    <div class="reply-inp">
                                        <button><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                          </svg></button>
                                        <input type="text" placeholder="نظرتو بنویس...">
                                    </div>
                                    <ul style="padding: 0;">
                                        <li>
                                            <div class="user-c">
                                                <img src="http://localhost:2005/image/user1.jpg">
                                                <h4>james coll smart</h4> 
                                            </div>
                                            <div class="reply-text">
                                                <p>خواص آووکادو سبب شده است تا این میوه راه ورود خود را به صنایع مختلف دارویی، آرایشی و بهداشتی یافته و نقش مهمی در بین مواد اولیه محصولات این حوزه ایفا نماید.</p>
                                            </div>
                                            <div class="like"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"></path>
                                              </svg>
                                            <span>10</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                         
                        </ul>
                    </div>
                </div>
            </div>
        
 </div>
 <footer>
    <h1>My<span style="color: rgb(0 , 162 , 232);">Blog</span></h1>
  </footer>
    <script src="../libraries/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script src="../libraries/jquery.js"></script>
    <script src="../libraries/JS/navbar.js"></script>
    <script src="../libraries/vue.min.js"></script>
    <script src="../libraries/JS/postpage.js"></script>
</body>
</html>