





/* profile css */




#profile-details{
    margin-top: 35px;
}


#profile-image img{
    width: 114px;
    box-shadow: 0px 3px 16px -9px;
    height: 137px;
    border-radius: 50%;
}

#profile-image{
    height: 80px;
}


#pro-detail{
    padding-top: 70px;
    width: 100%;
    background-color: white;
    height: auto;
}

#follow-info{
    display: flex;
    justify-content: center;
}

#follow-info p{
    cursor: pointer;
    margin: 10px;
}

#bio{
    
    margin: 15px;

}

#user-posts{
    margin-top: 35px;
    direction: rtl;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    
}

#user-posts::-webkit-scrollbar{
    width: 9px;
}


#user-posts::-webkit-scrollbar-thumb{
 
    background-color: rgb(94, 94, 94);
}


#user-posts::-webkit-scrollbar-track{
    background-color: rgb(169, 169, 169);
}









#post-ul{
    display: grid;
    justify-content: center;
    grid-template-columns: 312px 312px 312px;
    width: 100%;
    float: right;
    list-style: none;
    margin-top: 30px;
    padding: 0;

}

#post-ul li{
    border-bottom: 1px solid #e1e1e1;
    margin: 20px;
    display: inline;
}


.img-post{
    margin: 30px;
    margin-top: 0;
    margin-right: 0;
  
    width: 100%;
    height: 240px;

}

.img-post img{
    border-radius: 10px;
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
}

.post-detail{
    text-align: initial;
}

.time-release{
    direction: ltr;
}



.post-detail h4:hover{
    transition: 0.5s;
    cursor: pointer;
    color: rgb(0, 162, 232);
}


#overlay{
    width: 5000px;
    height: 100%;
    background-color: #808080a8;
    position: fixed;
    top: 0;
    display: none;
}

#follow{
    overflow-y: auto;
    width: 300px;
    height: 56%;
    background-color: #ffffff;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
}

.f-user-img{
    width: 50px;
    box-shadow: 0px 2px 15px -8px;
    overflow: hidden;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
}

#followers-ul{
    padding: 0;
    direction: rtl;
    list-style: none;
}

.f-user-img img{
    width: 100%;
    height: 100%;
}

.f-user-detail{
    display: flex;
    margin: 15px;
}

.f-username{
    padding-top: 20px;
    padding-right: 6px;
}

.f-btn{
    margin: 15px;
}

.f-btn button{
    border: none;
    background-color: rgb(0,162,232);
    color: white;
    height: 100%;
}

#followers-ul li{
    border-bottom: 1px solid #ebebeb;
}


#follow::-webkit-scrollbar{
    width: 9px;
}

#follow::-webkit-scrollbar-thumb{
    background-color: gainsboro;
}

#closepopup{
    padding-bottom: 0;
    text-align: end;
    padding: 10px;
    position: sticky;
    top: -1px;
    left: 0;
    background-color: white;
    box-shadow: 0 3px 9px -5px;
}

footer{
    margin-top: 50px;
    padding-top: 50px;
    width: 100%;
    height: 262px;
    background-color: #2a2a2a;
}

footer h1{
    color: white;
}

#follow-btn button{
    border: none;
    font-size: 17px;
    background-color: #0d6efd;
    color: white;
}



@media screen and (max-width:991px) {
    #post-ul{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:535px) {
    #post-ul{
        grid-template-columns: auto;
    }
    .img-post img{
        width: 85%;

    }
}


