footer{
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: #2a2a2a;
    margin-bottom: -50px;
}



footer h1{
    color: white;
    text-align: start;
    margin-right: 20px;
    padding-top: 20px;
}

#footer-logo{
    direction: rtl;
    float: right;
}

#footer-logo p{
    text-align: start;
    direction: rtl;
    width: 227px;
    margin: 20px;
    color: rgb(177, 177, 177);

    
}

#footer-links{
    color: white;
}

#footer-links ul{
    display: grid;
    list-style: none;
    font-size: 25px;
    grid-template-columns: auto auto;
    margin-bottom: 34px;
}



.footer-links-li-ul{
    font-size: medium !important;
    grid-template-columns: auto !important;
   
}

.footer-links-li-ul li{
    font-size: 15px;
    opacity: 0.7;
    direction: rtl;
    margin-bottom: 14px;
}


@media screen and (max-width:600px) {
    #footer-logo{
        float: none;
    }

    #footer-links ul{
        grid-template-columns: auto;
        text-align: end;
    margin-right: 20px;
    margin-top: 34px;
    }
}