body{
    background-color: rgb(0 0 0 / 5%);
padding: 0;
margin-right: 2%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
#release-post{
    cursor: pointer;
    text-align: left;
}

#release-post:hover{
   opacity: 0.5;
}

#suject-inp{
   
    direction: rtl;
    outline: none;
    border: 0;
    box-shadow: 0 2px 15px -11px;
    font-size: larger;
    height: auto;
    float: right;
    width: 50%;

    padding: 12px;
    margin-right: 30px;
    
  
}

#text-inp{
    text-align: start;
    box-shadow: 0 2px 15px -11px;
    outline: none;
    margin: 90px;
    padding-top: 6px;
    padding-bottom: 8px;
    margin-right: 30px;
   
    width: 70%;
    box-shadow: 0;
    background-color: white;
    float: right;
    direction: rtl;
    color: rgb(0, 0, 0);
}

#select-file{
    cursor: pointer;
}

textarea {
    resize: none;
    width: 50%;
    height:300%;
    float: right;
    margin: 30px;
    margin-right: 90px;
    border: 0;
    border: 1px solid gray;
    direction: rtl;
}

#suject-inp:focus{
    direction: rtl;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
  
}

#popup{
    width: 232px;
    display: none;
    height: 20%;
    background-color: white;
    border: 1px solid gray;
    position: sticky;
    top: 36%;
    left: 39%;
    z-index: 22;

}




 #home-btn a{
    text-decoration: none !important;
    font-size: medium;
    float: right;
    margin: 30px;
} 

#text-inp a{
    text-decoration: none;
  
} 


#text-inp img{
    width: 100%;
}

#tools{
    display: grid;
    width: 35px;
    position: fixed;
    top: 30%;
    left: 20%;
    height: 0;
   
}  

 @media screen and (max-width:770px) {
    
    #tools{
        display: grid;
        width: 0;
        position: fixed;
        top: 30%;
        left: 10%;
        height: 0;
       
    }   
} 



#darkline{
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    display: none;
    z-index: 21;
}

[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: gray;
}

#release{
    width: 90%;
    position: fixed;
    left: 5%;
    overflow-x: auto;
    top: 14%;
    height: 70%;
    background-color: aliceblue;
    display: none;
    transition: 1s;
    z-index: 22 !important;
    animation: displayrelease 1s;
    border-radius: 10px;
}

@keyframes displayrelease {
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}

#close-btn{
    cursor: pointer;
    margin: 10px;
    float: right;
}

#image-place{
    float: right;
    margin-top: 0 !important;
    width: 280px;
    margin: 28px;
    height: 158px;
    box-shadow: 1px 1px 12px -5px;
    background-color: #c9d5d5;
    /* border-radius: 10px; */
    position: relative;
    z-index: 30;

}

#insert-image-btn{
    position: absolute;
    left: 45%;
    top: 35%;
}

#tools button{
    border: 1px solid gray;
    border-radius: 10px;
}


#insert-image-btn{
    cursor: pointer;
}

#subject-show{
    float: right;
    margin: 48px;
    direction: rtl;
    margin-left: 30% !important;
}

#post-image{
    margin: 0;
    float: right;
}

.release-inputs{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    box-shadow: 0 3px 17px -9px;
    border: none;
    /* border-bottom: 1px solid black; */
    background-color: white;
    direction: rtl;
    line-height: inherit;
}

#keywords{
    float: right;
    margin: 48px;
    margin-left: 30% !important;
    text-align: right !important;
}

.tagbox{
    padding-bottom: 7px;
    margin-left: 14px;
    border-bottom: 1px solid #6a6a6ac2;
}

#tags-place{
    list-style: none;
    display: inline-flex;
}

#release-button{
   margin: 20px;
   float: left;
   background-color: #4da99a;
   border: 0;
}

#release::-webkit-scrollbar{
    width: 10px;
    background: rgb(196, 196, 196);
    border-radius: 20px;
}
#release::-webkit-scrollbar-thumb{
    width: 10px;
    height: auto;
    border-radius: 20px;
    background: rgb(82, 82, 82);
}
#release::-webkit-scrollbar-track{
    width: 10px;
    height: 300px;
    border-radius: 20px;
    background: rgb(190, 190, 190);
}

#navbar{
    height: 100px;
    margin-bottom: 28px;
    padding-top: 0 !important;
    padding: 10px;
    box-shadow: 0 4px 9px -5px rgb(0 0 0 / 10%);
    background-color: white;
}










