@font-face {
    font-family: vazir;
    src: url(../libraries/font/Vazir-Thin.ttf);
}
body{
    background-color: rgb(0 0 0 / 5%);
padding: 0;
margin: 0;
font-family: vazir;

}



.admin-info{
    font-size: 11px;
    font-size: 16px;
    display: grid;
    padding: 19px;
    direction: rtl;
    float: right;
    margin: 5px;
    grid-template-columns: auto auto auto;
  
}

#admin-menu{
    z-index: 2;

    transition: 0.5s;
    box-shadow: 0 3px 17px -5px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    position: fixed;
    width: 224px;
    top: 0;
    right: -195px;
    padding: 0;
    text-align: end;
}

.admin-count-post{
    text-align: start;
}

#search-input{
    
    padding-bottom: 7px;
    outline: none;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    float: left;
    margin-top: 16px;
    direction: rtl;
    margin-left: 3px;
    width: 150px;
    height: 32px;

}

.admin-links{
    padding-right: 23px;
    text-align: end;
    margin: 27px;
    margin-right: 0;
    padding: 5px;
    cursor: pointer;
    width: 192px;
    float: right;
    border-bottom: 1px solid #c9c9c9;
}
.pro-post-list{
    padding: 0;
}
.pro-post{
    list-style: none;
    float: inline;
    display: flex;
    background-color: white;
    margin: 5px;
}
.image-pro-post {
    width: 100%;
    border: 1px solid;
    margin: 7%;
}
.text-pro-post{
    padding: 24px 0;
}

.users{
    padding-right: 17px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;

}

.btns-admin{
    flex: auto;
    text-align: end;
    margin: 5px;
}

.remove-btn{
    display: block;
}

.btn-admin-style{
    cursor: pointer;
    margin: 5px;
}

.user-img{
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user-name{
    margin-top: 10px;
    margin-right: 6px;
    cursor: pointer;
    height: 50%;
}

.img-5070{
    border-radius: 50%;
    box-shadow: 0 3px 17px -9px;
}

#logo{
    position: absolute;
    top: 4px;
    left: 13px;
}

#menu{
    height: 60px;
    width: 100%;
    background-color: #515162;
}

#admin-name{
    color: white;
    text-align: end;
    padding-right: 60px;
    padding-top: 17px;
}

#admin-pro{
    display: flex;
    direction: rtl;
}

#drop-down-layer span{
    color: white;
}

#drop-down{
    
    z-index: 1;

    padding: 16px;
    padding-right: 5px;
    color: #0a83ff;
}

#dd-btn{
    text-align: right;
}

.hide{
    display: block !important;
}

#drop-down-layer{
    display: none;
    width: 80px;
    height: 35px;
    background-color: #504e60;
    border: 1px solid #adadad80;
    border-radius: 3px;
}

#search-post{
    position: relative;
    width: 100%;
    height: 50px;
}


#btn-search{
    position: absolute;
    left: 4px;
    bottom: 6px;
    background-color: white;
    border: none;position: absolute;
  
}

#statistics{
    display: grid;
}

.post-owner img{
    width: 50px;
    height: 50px;
    border: 1px solid #6464;
    border-radius: 50%;
}

ul{
    direction: rtl;
}

.post-image{
    margin: 25px;
    width: 100px;
    height: 100%;
}
.post-image img{
    width: 100%;
    border-radius: 7px;
    height: 100%;
}

#header{
    margin: 32px 0;
}

#menu-btns{
    display: grid;
    width: 100%;
    justify-content: end;
}





