@font-face {
    font-family: Yakan;
    src: url(../font/Vazirmatn-Light.ttf);
  }

body{
    background-image: url(http://localhost:2005/image/wall.jpg);
padding: 0;
margin: 0;
font-family: Yakan;
overflow: hidden;


}

#login-form{
    background-color: white;
    width: 360px;
    float: left;

}

#logo{
    padding-left: 10px;
}

form{
    padding-top: 200px;
    text-align: end;
    padding-right: 15px;
    position: relative;
    height: 730px;
    border-left: 1px solid grey;
}
#header{
    position: absolute;
    top: 20%;
    right: 10%;
}

@media screen and (min-height:729px) {
    #header{
top: 16%;
    }
    form{
        height: 1000px;
    }
}

@media screen and (min-height:1001px) {
    #header{
        top: 10%;
    }
    form{
        height: 1500px;
    }
}



#name-inp input{
    margin-right: 20px;
    margin: 20px;
    float: right;
}

.inp{
    width: 80%;
    border-radius: 7px;
    outline-color: gainsboro;
    direction: rtl;
    border: 1px solid #c7c7c7;
    height: 34px;
    box-shadow: 0 3px 11px -9px;
    font-size: 20px;
}

#name-inp{
    font-size: 17px;
    color: #7c7c7c;
    margin-top: 15px;
}

#links{
    display: inline-flex;
}

#sub-btn{
    margin-right: 255px;
}

#sub-btn button{
    border: 0;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
}

a{
    text-decoration: none;
}


@media screen and (max-height:700px) {
    body{
        overflow: auto;
    }
}

#home-btn-div{
    width: 100%;
    text-align: start;
    padding-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    direction: ltr;
}


#home-btn{
    color: #626262;
    padding: 22px;
    transition: 0.5s;
}

#home-btn:hover{
    color: rgb(0,162,232);
}

