

/* home-page */






#banners div img{
    padding: 5px;
 }

 #b_1 .b_img:hover{
    transform: scale(1.5);
 }
 
 #banners{
     padding: 0;
 }
 #b_1 img , #b_2 img, #b_3 img, #b_4 img, #b_5 img{
    width: 100%;
    height: 100%;
 }


 #b_1{
    position: relative;
    width: 50%;
    float: left;
    height: 667px;
    transition: 0.5s;
}
#b_2 , #b_3 , #b_4 , #b_5{
    position: relative;
      width: 25%;
    float: left;
    height: 333px;
    transition: 0.5s;
}

.b_imgs h6{
    font-family: Vregular !important;
    color: rgb(124, 124, 124);
    direction: rtl;
    text-align: start;

}

.b_imgs h6:hover{
    transition: 0.5s;
    cursor: pointer;
    color: rgb(0, 162, 232);
   
}

.overlay{
    position: absolute;
top :0;
left: 0;
}

@media screen and (max-width:1399px) {
    #b_1{
        width: 570px;
        float: left;
        height: 570px;

    }
    #b_2 , #b_3 , #b_4 , #b_5{
        width: 285px;
        float: left;
        height: 285px;
    }
    .categories {
        width: 208px !important;
  }

    
}

@media screen and (max-width:1199px) {
    #b_1{
        width: 480px;
        float: left;
        height: 480px;

    }
    #b_2 , #b_3 , #b_4 , #b_5{
        width: 240px;
        float: left;
        height: 240px;
    }

    .categories {
        width: 172px !important;
    }
    
}

@media screen and (max-width:991px) {
    #b_1{
        
        width: 100%;
    float: left;
    height: 696px;

    }
    #b_2 , #b_3 , #b_4 , #b_5{
        width: 360px;
        float: left;
        height: 348px;
    }

   

   
            
    
}


@media screen and (max-width:767px) {

    #b_1,#b_2 , #b_3 , #b_4 , #b_5{
        width: 100%;
        float: left;
        height: 528px;
    }

 

}


@media screen and (max-width:538px) {
   
    #b_1, #b_2 , #b_3 , #b_4 , #b_5{
        width: 100%;
        float: left;
        height: 380px;
    
    }

    .categories {
        width: 146px !important;
    }

    
}

#category-div{
    display: contents;
}

.categories img{
    transition: 1s;
    width: 100%;
    filter: brightness(0.6);
    height: 100%;
}

.categories{
    border-radius: 3px;
    transition: 0.5s;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
    width: 244px;
    height: 80px;

}

.categories a{
    font-family: 'Vlight';
    font-size: 16px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    color: white !important;
    width: 100%;
}


#cat_1 ,#cat_2 , #cat_3 , #cat_4 , #cat_5 {

    margin: 11px;
}

#catdiv{
    justify-content: center;
    margin-top: 55px;
    /* margin-bottom: 36px; */
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}



#cat_5{
    margin-right: 5px;
}
#cat_1{
    margin-left: 5px ;
}
@media screen and (max-width:767px) {
    #cat_1{
        margin-left: 11px !important;
      
    }
    #cat_5{
        margin-right: 11px !important;
    }
}





.categories img:hover{
    cursor: pointer;
    filter: brightness(0.8);
   

}

.categories h1:hover{
    transition: 0.5s;
    cursor: pointer;
   color: rgb(0, 162, 232);
   

}

a{
    margin :0 !important
}

.post-user a{

    font-family: Vlight;
    color: #464646 !important;

    padding-top: 15px;
}

.b-user-img{
    border-radius: 50%;
    box-shadow: none;
    float: right;
    width: 55px !important;
    height: 55px !important;
}

#post-list{
    padding-right: 0;
}

#post-ul{
    padding-left: 0;
    float: right;
    width: 100%;
display: none;
    list-style: none;
    margin-top: 0;

}

.post-detail h6{
    font-family: 'Vregular';
    margin-top: 10px;

}

.post-detail a{
    transition: 0.5s;
    color: black;
    float: none;
}
.post-detail a:hover{
    color: rgb(2, 151, 170);

}

.post-detail{
    position: relative;
    width: 100%;
    text-align: initial;
    margin-right: 15px;
}

.post-detail p{
    font-family: 'VLIGHT';
    margin-bottom: 3px;
    font-size: 13px;
}

#post-ul li{
    width: 100%;
    /* background-color: #68686814; */
    padding: 13px;
    float: right;
    border-bottom: 1px solid #6644660a;
    /* margin-bottom: 20px; */
    height: auto;
    display: flex;
    padding: 25px 5px;
    direction: rtl;
   
}


.img-post{
    text-align: start;
    height: 150px;
    width: 35%;
    overflow: hidden;
}

.img-post img{
    transition: 0.5s;
    border-radius: 3px;
    filter: brightness(0.8);
    width: 95%;
    height: 100%;
}

.img-post img:hover{
 transform: scale(0.99);
}

.time-release{
    font-family: 'Velight';
    color: #000000a3;
    text-align: end;
    margin-top: 7px;
}

@media screen and (max-width:660px) {
    #post-ul li {
        display: block;
        width: 100%;
        height: auto;
       
    }
    .img-post{
        height: 400px;
        width: 100%;
    }

    #post-list{
        padding-right:calc(var(--bs-gutter-x) * .5);;
    }

   

    .img-post img{
        width: 100%;
    }

    .post-detail{
        margin-right: 0;
        margin-top: 35px !important;
    }
}


@media screen and (max-width:389px) {
    #post-ul li{
        width: 100%;
    }

    .img-post img{
        width: 100%;
    }
    .post-detail{
        margin-right: 0;
    }
}

@media screen and (max-width:351px) {
    #post-ul{
       padding: 0;
    }
  
}

@media screen and (max-width:330px) {
    #post-ul li{
        width: 100%;
    }
}

.post-owner{
    position: absolute;
    margin-top: 16px;
    display: flex;
}

.post-owner a{
    font-family: 'VREGULAR';
    padding-top: 9px;
    padding-right: 8px;
    font-size: 15px;
    color: #000000 !important;
}

.post-owner img{
    border: 1px solid #c3c3c3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#top-tags ul{
    padding-right: 0;
    padding-left: 75px;
    gap: 10px;
    width: 280px;
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
}

#top-tags a{
    font-family: 'Velight';
}
#tags-fix{
    height: 150px;
}

#tags-fix a{
    background-color: #afafaf;
    padding: 7px;
    font-size: 14px;
    color: white;
    border-radius: 6px;
}

#tags-fix h6{
text-align: start;
    color: #646464;
}

#top-post-div{
    
    position: sticky;
    top: 110px;
    padding-right: 20px;
    border-radius: 10px;

}

#top-posts{
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}
.img-top-post img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.img-top-post{
    width: 65px;
    height: 65px;
}


#top-posts li{
    display: flex;
    position: relative;
    padding: 15px;
    margin-bottom: 13px;


}


.top-post-detail{
    width: 80%;
    text-align: start;
    direction: rtl;
    margin-right: 17px;
}

.top-post-detail a{
    transition: 0.5s;
    font-size: 14px;
    color: #3a3a3a;
    float: none;
}

.top-post-detail a:hover{
    font-size: 14px;
    color: rgb(160, 160, 160);
    float: none;
}

.top-post-detail .time-release{
    text-align: start;
}

.top-post-detail h6{
    width: 100%;
}

#top-post{
    position: relative;
    transition: 0.5s;
    direction: rtl;
}

.pages-btn{
    color: grey;
    border-radius: 50%;
    height: 33px;
    width: auto;
    margin: 5px;
    font-size: 17px;
    padding: 6px 13px;
}

#pages{
    /* display: none;
    bottom: -60px;
    position: absolute;
    left: 0;
    right: -202px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    transform: translate(-50%, 16px); */

    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-bottom: 22px;
    
}

.active{
    background-color: rgb(0,162,232);
    color: white;
}

#pages p:hover{
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(143, 143, 143);
    color: rgb(255, 255, 255);
}


#big-banner{
    margin-top: -60px;
    height: 177px;
    background: url(http://localhost:2005/image/ban1.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    position: relative;
    width: 100%;


}

#big-banner img{
    z-index: -1;   width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    filter: brightness(0.7);
}

#big-banner h6{
    font-family: Vbold;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 24px;
    z-index: 1;
}

#big-banner h6:hover{
  color: rgb(0, 162, 232);
}

#selected-posts{
    padding: 0;
    margin-top: 33px;
}

#sel-header h6{
    text-align: center;
    direction: rtl;
    color: #646464;
    font-size: 21px;
}

#sel-header p{
    font-size: 13px;
    color: grey;
}

.post-info{
    width: 99%;
    height: auto;
    position: absolute;
    bottom: 4px;
    right: 4px;
    padding: 10px;
    background-color: #ffffffd4;
}




.selected-detail .post-owner a{
    font-family: Vlight;
    color: #c3c3c3 !important;
    padding-top: 9px;
}
.selected-detail .post-owner{
    position: static !important;
}

.selected-detail a{
    transition: 0.5s;
    float: none;
    color: white;
}

.selected-detail a:hover{
    color: rgb(170, 170, 170);
}

.post-button{
        display: flex;
 direction: ltr;
}

.save-post-btn{
    color: #3636368c;
    padding-top: 5px;
}

.save-post-btn svg:hover{
    cursor: pointer;
}

.like-post-btn{
    padding-top: 5px !important;
padding: 3px;
    display: flex;
}

.like-post-btn svg{
    color: #3636368c;
    margin: 2px;
}

#selected-ul{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin-top: 30px;
    padding: 0;
    list-style: none;
}

#selected-ul li{
    margin-left: 0 !important;
    position: relative;

    width: auto;
    height: 290px;
}

.img-selected{
    width: 100%;
    width: 100%;
    height: 100%;
}

.img-selected img{
    border-radius: 4px;
    filter: brightness(0.6);
    width: 100%;
    height: 100%;
}

.selected-detail .post-owner{
    direction: rtl;
    margin: 10px;
}

.selected-detail .time-release{
    font-weight: 500;
    margin-right: 15px;
    color: white;
}

.selected-detail{
    padding-top: 13px;
    width: 100%;
    bottom: 20px; 
    position: absolute;
    color: white;
    right: 47%;
    transform: translate(47%, -50%);
}

.selected-detail h6{
   font-family: Vlight;
   direction: rtl;
   text-align: start;
   margin-right: 17px;
}

#cat-lable{
    direction: rtl;
    text-align: initial;
    color: rgb(0,162,232);
    margin-bottom: 10px;
}

#ban-lable{
    direction: rtl;
    text-align: center;
    color: rgb(84, 84, 84);
    margin-bottom: 10px;
    font-size: 20px;
}

@media screen and (max-width:1330px) {
    #selected-ul{
        grid-template-columns: auto auto auto auto ;
    }
}

@media screen and (max-width:991px) {
    #selected-ul li{
        width: 195px;
    }
}




@media screen and (max-width:850px) {
    #top-post{
        padding-bottom: 36px;
    }

    #selected-ul{
        display: grid;
        grid-template-columns: auto auto;
        gap: 40px;
        
    }

    .selected-detail{
        transform: translate(0%, -155%);
       position: static !important;
      
    }



    #selected-ul li{
        text-align: center;
        zoom: 1;
        display: inline;
        width: 300px;
      
    }
    
}

#top-header{
        display: grid;
        grid-template-columns: 125px 100%;
        direction: rtl;
}

#top-header h6{
    text-align: start;
    color: #646464;
    margin-bottom: 46px;
   
}

#line{
    height: 10px;
    width: 84%;
    border-bottom: 1px solid #d1d1d1;
    float: left;
    margin-right: 15px;
}

#line8014{
    height: 10px;
    width: 65%;
    border-bottom: 1px solid #d1d1d1;
    float: left;
    margin-right: 10px;
}


#posts-header{
    display: grid;
    grid-template-columns: 125px 100%;
    direction: rtl;
}

#posts-header h6{
    direction: rtl;
    color: #646464;
    text-align: end;
}

@media screen and (max-width:651px) {
    #selected-ul{
        grid-template-columns: auto;
    }
}


@media screen and (max-width:400px){

    #selected-ul li{
        width: auto;
    }
}

















