



/* newpost */







#release-post{
    cursor: pointer;
    text-align: left;
}

#release-post:hover{
   opacity: 0.5;
}

#suject-inp{
    direction: rtl;
    outline: none !important;
    border: 0;
    font-size: 20px;
    height: auto;
    float: right;
    width: 50%;
    padding: 12px;
    margin-right: 30px;
    border-bottom: 1px solid gainsboro;
    
  
}

#text-inp{
    font-size: 20px;
    text-align: start;
    outline: none;
    margin: 90px;
    padding-top: 6px;
    padding-bottom: 8px;
    margin-right: 30px;
   border-bottom: 1px solid gainsboro;
    width: 70%;
    box-shadow: 0;
    background-color: white;
    float: right;
    direction: rtl;
    color: rgb(0, 0, 0);
}

#select-file{
    cursor: pointer;
}

textarea {
    resize: none;
    width: 50%;
    height:300%;
    float: right;
    margin: 30px;
    margin-right: 90px;
    border: 0;
    border: 1px solid gray;
    direction: rtl;
}

#suject-inp:focus{
    direction: rtl;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
  
}

#cansel{
    background-color: #80808000;
    border: none;
    color: white;
}

#popup{
    width: 232px;
    display: none;
    height: 20%;
    position: sticky;
    top: 36%;
    left: 39%;
    z-index: 22;

}




 #home-btn a{
    text-decoration: none !important;
    font-size: medium;
    float: right;
    margin: 30px;
} 

#text-inp a{
    text-decoration: none;
    font-size: medium;
    float: none;
    margin: 0;
} 


#text-inp img{
    width: 100%;
    opacity: 0.5;
}

#tools{
    box-shadow: 0 3px 17px;
    grid-template-columns: auto auto;
    display: grid;
    width: 35px;
    position: fixed;
    top: 230px;
    left: 10%;
    height: 0;
   
}  

 @media screen and (max-width:770px) {
    
    #tools{
        display: grid;
        width: 0;
        position: fixed;
        top: 230px;
        left: 3%;
        height: 0;
       
    }   
} 



#darkline{
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    display: none;
    z-index: 21;
}

[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: gray;
}

#release{
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    overflow-x: auto;
    top: 50%;
    height: max-content;
    background-color: white;
    display: none;
    transition: 1s;
    z-index: 22 !important;
    animation: displayrelease 1s;
    border-radius: 4px;
}

@keyframes displayrelease {
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}

#close-btn{
    cursor: pointer;
    margin: 10px;
    float: right;
}

#image-place{
    float: right;
    margin-top: 0 !important;
    width: 280px;
    margin: 28px;
    height: 158px;
    box-shadow: 1px 1px 12px -5px;
    background-color: #c9d5d5;
    /* border-radius: 10px; */
    position: relative;
    z-index: 30;

}

#insert-image-btn{
    position: absolute;
    left: 45%;
    top: 35%;
}

#tools button{
    width: 30px;
    height: 30px;
    border: 1px solid #767676;
    background-color: #ffffff;
    color: black;
}


#insert-image-btn{
    cursor: pointer;
}

#subject-show{
    float: right;
    margin: 48px;
    direction: rtl;
    margin-left: 30% !important;
}

#post-image{
    margin-top: 45px !important;
    margin: 0;
    float: right;
}

.release-inputs{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: white;
    direction: rtl;
    line-height: inherit;
}

#keywords{
    
    float: right;
    margin: 48px;
    margin-left: 0% !important;
    text-align: right !important;
}

.tag{
    float: left;
    cursor: pointer;
    background-color: grey;
    border-radius: 50%;
    /* height: 24px; */
    width: 20px;
    text-align: center;
}

.tagbox{
    padding: 7px;
    margin: 2px;
    background-color: gainsboro;
}

#tags-place{
    padding: 0;

    direction: rtl;
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
}

#release-button{
   margin: 20px;
   float: left;
   background-color: #0d6efd;
   border: 0;
}

#release::-webkit-scrollbar{
    width: 10px;
    background: rgb(196, 196, 196);
    border-radius: 20px;
}
#release::-webkit-scrollbar-thumb{
    width: 10px;
    height: auto;
    border-radius: 20px;
    background: rgb(82, 82, 82);
}
#release::-webkit-scrollbar-track{
    width: 10px;
    height: 300px;
    border-radius: 20px;
    background: rgb(190, 190, 190);
}


#release-btn svg{
    border-radius: 100%;
    color: rgb(0,162,232);
}

#release-btn button{
    background-color: white;
    border: none;
}

#release-btn{
    position: fixed;
    top: 27rem;
}

#release-btn svg:hover{
    transition: 0.5s;
    transform: rotate(15deg);
}









