

    /* postpage */







    
    #post-detail{
        position: relative;
    }
    
 .back-img{
    background-size: cover;
    padding: 20px;
    width: 100%;
    height: 510px;
    background-position: center;
    filter: brightness(0.5);
 }

 #post-detail h2{
    position: absolute;
    bottom: 100px;
    right: 10px;
    color: white;
    text-align: right;
 }

 #author{
  
    direction: rtl;
    display: flex;
    position: absolute;
    right: 15px;
    width: 100%;
    height: 60px;
    bottom: 20px;
}
 
#author h4{
    padding: 16px;
    color: #c3c3c3;
}

 #author img{
    border-radius: 50%;
    width: 60px;
    height: 100%;
 }


 #post-content{
    border: 1px solid gainsboro;
    padding: 20px;
    margin-top: 55px;
    text-align: start;
    direction: rtl;
 }

 #post-content img{
    width: 100%;
 }

 .post-owner{
    display: flex;
 }

 .post-owner img{
    border: 1px solid #c3c3c3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
 }

 .post-owner a{
    margin: 0;
 padding-top: 9px;
 padding-right: 8px;
 font-size: 20px;
 color: #646464 !important;
 }
 #related-post{
    margin-top: 30px;
    text-align: end;
 }

 #related-div{
    margin-top: 30px;
    text-align: end;
 }

 #related-post ul{
    margin-top:30px;
    list-style: none;
    
 }

 #related-post ul li{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 16px;
 }

 .selected-detail{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 13px;
    background-color: #c3c3c3;
    width: 100%;
    bottom: 20px;
    position: absolute;
    color: white;
    right: 47%;
    transform: translate(47%, -50%);
 }

 .selected-detail .post-owner{
    direction: rtl;
    margin: 10px;
 }

 .selected-detail .time-release{
    font-weight: 500;
    margin-right: 15px;
    color: white;
    direction: ltr;
    text-align: end;
    margin-top: 7px;
 }

 .selected-detail:hover{
cursor: pointer;
    color: rgba(109, 109, 109, 0.72);
 }

 .img-selected{
    width: 100%;
    height: 100%;
}

 .img-selected img{
    border-radius: 10px;
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
}

.line{
    border: 1px solid gainsboro;
    width: 100%;
    margin-top: 70px;
}

#related-post ul{
    width: 100%;
    justify-content: center;
    float: right;

    display: flex;
}

@media screen and (max-width:770px) {
    #related-post ul{
        float: none;
        display: grid;
    }
}

@media screen and (max-width:420) {
    #related-post ul li{
        width: 310;
    }
}

.btn{
    cursor: pointer;
    background-color: rgb(0 162 232 / 72%);
    color: white;
    width: 75px;
    height: 40px;
    font-size: 11px;
    margin-top: 10px;
}
#comment-inp{
    border: 1px solid gainsboro;
}

#comment-inp button{
    margin: 11px;
    border: none;
    background-color: #8b8b8b;
    color: white;
}

#comment-inp textarea{
    border: none;
    padding: 11px;
    border-top: none;
    width: 100%;
    height: 250px;
    font-size: 20px;
    resize: none;
    outline:none;
    direction: rtl;
}

#comment h1{
    margin: 30px 0;
    direction: rtl;
    text-align: start;
}

#comment{
    text-align: end;
}

#user-name img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#user-name{
    padding: 11px;
    border-bottom: none;
    width: 100%;
    float: right;
    display: flex;
    direction: rtl;
}

#user-name h4{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 10px;
}

#tag-line{
    margin-top: 3.3rem;
    height: 300px;
    border: 1px solid gainsboro;
}

#like-btns{
    padding: 10px;
    direction: rtl;
    position: relative;
}

#tag-line{
    position: sticky;
    top: 100px;
}

#like{
    position: absolute;
}
    #save{
        left: 10px;
        position: absolute;
    }
    
    #tags{
        margin-top: 60px;
    }

    #tags ul {
        height: fit-content;
        direction: rtl;
        padding: 0;
        grid-template-columns: auto auto auto;
        display: grid;
        list-style: none;
    }

    #tags ul li{
        height: fit-content;
        border-radius: 10px;
        margin: 10px;
    display: inline;
    background-color: gainsboro;
    padding: 5px;
    }

    #release-time{
        position: absolute;
        bottom: 0;
        left: 20px;
        color: white;
    }

    #comments ul{
        list-style: none;
    }

    .user-c{
        margin: 10px;

        display: flex;
        direction: rtl;
    }

    .user-c img{
        width: 45px;
    height: 45px;
    border-radius: 50%;
    }

    .user-c h4{
        margin: 10px;
    }

    #comments{
        
    margin-top: 64px;

    }

    #comments ul li{
        background-color: rgb(255 255 255);
        border-radius: 6px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0 3px 5px -5px cyan;
    
        }

        .like-line{
            
    margin: 10px;

            display: flex;
            direction: rtl;
        }

        .comment-text{
            margin: 10px;
        }

        .comment-text p {
            background-color: #ededed;
    padding: 10px;
        }

        .replys ul {
         list-style: none;
        }

        .replys .like{
            margin: 10px;
        }

        .replys li{
            background-color: whitesmoke !important;
            border: none !important;
        }

        .reply-inp{
            display: none;
            margin: 14px;
        }

        .inp-show{
            display: block !important;
        }

        .reply-inp button{    border: 0;
            background-color: rgb(0,162,232);}

            .reply-inp input{
                
    width: 200px;

                direction: rtl;
    outline-color: rgb(0,162,232);
            }


            .reply-text p {
                margin: 10px;
            }

            #post-content img {
                padding: 4%;
            }


            @media screen and (max-width:400px){

                #related-post-ul li{
                    width: auto !important;
                }
            }

            footer{
                margin-top: 50px;
                padding-top: 50px;
                width: 100%;
                height: 262px;
                background-color: #2a2a2a;
            }
            
            footer h1{
                color: white;
            }
            

           