






/* profile-me */


a{
    margin: 0;
}



#profile-details{
    margin-top: 35px;
}


#profile-image img{
    width: 114px;
    box-shadow: 0px 3px 16px -9px;
    height: 114px;
    border-radius: 50%;
}

#profile-image{
    height: 80px;
}


#pro-detail{
    padding-top: 55px;
    width: 100%;
    background-color: white;
    height: auto;
}

#follow-info{
    display: flex;
    justify-content: center;
}

#follow-info p{
    cursor: pointer;
    margin: 10px;
}

#bio{
    
    margin: 15px;

}

#save-posts{
    padding-top: 14px;
    padding-left: 17px;

}

#posts{
    padding: 12px;
}

#user-posts{
    margin-top: 17px;
    direction: rtl;
    height: auto; 
    overflow-y: auto;
    overflow-x: hidden;
    
}

#user-posts::-webkit-scrollbar{
    width: 9px;
}


#user-posts::-webkit-scrollbar-thumb{
 
    background-color: rgb(94, 94, 94);
}


#user-posts::-webkit-scrollbar-track{
    background-color: rgb(169, 169, 169);
}









#post-ul , #post-save-ul{
    justify-content: center;
    display: grid;
    grid-template-columns: 311px 312px 312px;
    width: 100%;
    float: right;
    list-style: none;
    margin-top: 30px;
    padding: 0;

}

#post-ul li ,#post-save-ul li{
    border-bottom: 1px solid #e1e1e1;
    margin: 20px;
    display: inline;
}


.img-post{
    margin: 30px;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    height: 240px;
}

.img-post img{
    border-radius: 10px;
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
}

.post-detail{
    display: grid;
    text-align: initial;
}

.time-release{
    direction: ltr;
}


@media screen and (max-width:500px) {
    #post-ul li ,#post-save-ul li {
       display: block;
    }
}


.post-detail a:hover{
    transition: 0.5s;
    cursor: pointer;
    color: rgb(0, 162, 232);
}

.post-detail a{
    font-size: 20px;
    color: black;
}

#mepost-detail{
    font-size: 15px;
    margin-top: 11px;
    display: inline-block;
    color: #585858;
}


#overlay{
    width: 5000px;
    height: 100%;
    background-color: #808080a8;
    position: fixed;
    top: 0;
    display: none;
}

#follow{
    overflow-y: auto;
    width: 300px;
    height: 56%;
    background-color: #ffffff;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
}

.f-user-img{
    width: 50px;
    box-shadow: 0px 2px 15px -8px;
    overflow: hidden;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
}

#followers-ul{
    padding: 0;
    direction: rtl;
    list-style: none;
}

.f-user-img img{
    width: 100%;
    height: 100%;
}

.f-user-detail{
    display: grid;
    grid-template-columns: 56px auto auto;
    margin: 15px;
}

.f-username{
    padding-top: 20px;
    padding-right: 6px;
}

.f-username h6{
    text-align: right;
}

.f-btn{
    text-align: end;
    margin: 15px;
}

.f-btn button{
    border: none;
    background-color: rgb(0,162,232);
    color: white;
    height: 100%;
}

#followers-ul li{
    border-bottom: 1px solid #ebebeb;
}


#follow::-webkit-scrollbar{
    width: 9px;
}

#follow::-webkit-scrollbar-thumb{
    background-color: gainsboro;
}

#closepopup{
    padding-bottom: 0;
    text-align: end;
    padding: 10px;
    position: sticky;
    top: -1px;
    left: 0;
    background-color: white;
    box-shadow: 0 3px 9px -5px;
}

#closepopup svg{
    cursor: pointer;
}


.post-btns{
    display: flex;
}




.post-btns div{
    margin: 3px;
}

.post-btns svg:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(163, 163, 163);
    color: white;
    border-radius: 10%;
}


#setting{
    text-align: left;
    margin-left: 9px;
    cursor: pointer;
}

#username{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
}

#nm-698{
    text-align: right;
    margin-left: 15px;

}

#add-post{
    text-align: center;
    padding: 15px;
    padding-left: 0px;
    padding-bottom: 0;
}

#add-post svg:hover{
    transition: 0.5s;
 cursor: pointer;
 color: grey;
}

#posts svg:hover{
    transition: 0.5s;
 cursor: pointer;
 color: grey;
}

#save-posts svg:hover{
    transition: 0.5s;
 cursor: pointer;
 color: grey;
}


@media screen and (max-width:991px) {
    #post-ul , #post-save-ul {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:550px) {
    #post-ul ,#post-save-ul {
        grid-template-columns: auto;
    }
}






