



/* 
searchpage */






#search-big-inp{
    margin-top: 90px;
}


#search-big-inp input{
    width: 100%;
height: 70px;
border: none;
border-bottom: 1px solid rgb(146, 146, 146);
outline: none;
direction: rtl;
font-size: 30px;
}

#users ul{
    overflow-x: scroll;
    display: flex;
    direction: rtl;
    list-style: none;
}

#users ul::-webkit-scrollbar{
   height: 4px;
}

#users ul::-webkit-scrollbar-thumb{
    background-color: rgb(77, 77, 77);
 }

 #users ul::-webkit-scrollbar-track{
    background-color: rgb(151, 148, 148);
    
  }



#users li{
    
    padding: 10px;

}

#users .user{
    height: 56px;
    display: flex;
    direction: rtl;
}

#users img{
    
    border-radius: 50px;

}

#users h6{
    width: max-content;
    padding-top: 20px;
    padding-right: 6px;
}

.btn{
    background-color: #0a58ca;
    padding: 0;
    height: 32px;
    width: 41px;
    margin: 13px 10px;
    color: white;
}

#posts-ul{
    text-align: end;
    list-style: none;
}

.post-detail{
    margin: 10px;
}


#posts-ul li{
    width: 100%;
    background-color: #68686814;
    padding: 13px;
    float: right;
    margin-bottom: 20px;
    height: auto;
    display: flex;
    direction: rtl;
}
.img-post{
    margin-bottom: 25px;
    width: 25%;
}


.img-post img{
    border-radius: 10px;
    filter: brightness(0.8);
    width: 88%;
    height: 100%;
}

.time-release{
    margin-top: 10px;
    direction: ltr;

}


.post-owner{
    direction: rtl;
    display: flex;
}

.post-owner a{
    margin: 0;
    padding-top: 9px;
    padding-right: 8px;
    font-size: 20px;
    color: #646464 !important;
}

.post-owner img{
    border: 1px solid #c3c3c3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


@media screen and (max-width:991px) {
    #posts-ul li{
display: block;
    }

        .img-post{
            text-align: center;
            width: 100%;
        }
}




