@font-face {
    font-family: Yakan;
    src: url(font/Yekan.ttf);
  }

body{
background-color: rgba(255, 255, 255, 0.726);
padding: 0;
margin: 0;
font-family: Yakan;


}



#Logo{
    width: 100px;
    float: right;
    margin-top: 22px;
}

#mainmenu{
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
    display: inline;
}

a{
    text-decoration: none;
    font-size: medium;
    float: right;
    margin: 30px;
}



.user-name{
    margin-top: 10px;
    margin-right: 6px;
    cursor: pointer;
    height: 50%;
}

.user-img{
    box-shadow: 0px 2px 15px -8px;
    overflow: hidden;
    height: 50%;
    cursor: pointer;
    border-radius: 50%;
}

.user-info{
    margin: 15px;
    margin-bottom: 0;
    float: left;
}

.user-img img{
    width: 45px;
}

.input-2022{
    outline: none;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    float: left;
    margin-top: 22px;  
    direction: rtl;
    margin-left: 3px;
    width: 150px;
    height: 32px;
}

 #navbar{
    height: 76px;
    z-index: 3;
    position: sticky;
    top: 0;
    margin-bottom: 28px;
    padding-top: 0 !important;
    padding: 10px;
    box-shadow: 0 4px 9px -5px rgb(0 0 0 / 37%);
    background-color: white;
 
}

.search{
    position: relative;
}

#btn-search{
    position: absolute;
    left: 80px;
    top: 24px;
    background-color: white;
    border: none;
}

#menu-links ul{
    transition: 0.5s;
    list-style: none;
    display: flex;
    padding-left: 0;
    float: right;
    direction: rtl;
    padding-right: 7px;
    margin-top: 23px;
}

#menu-links ul li{
    transition: 0.2s;
    font-size: 19px;
    padding-left: 7px;
    padding-right: 7px;
}

#menu-links ul li:hover{
    cursor: pointer;
  color: rgb(0, 162, 232);
}

.us-res{
    margin-right: 63px;
    width: 236px;
    height: 53px;
    display: contents;
}

#menu-drop{
    display: none;
    width: 100%;
    height: 200px;
    transition: 0.4s;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 5px -5px;
    z-index: 1;
    position: fixed;
    top: -100px;
}


#drop-btn{
    transition: 0.5s;
    display: none;
    position: fixed;
    top: 91px;
}

#drop-btn button{
    background-color: white;
    border: none;
}

.rote-deop-btn{
    transform: rotateX(180deg);
}


@media screen and (max-width:648px){
   #navbar{
    height: 123px;
}

#drop-btn{
    display: block;
}

#menu-drop{
    display: block;
}

#menu-links ul{
    display: none;
    position: absolute;
    right: 0;
    top: -100px;
    text-align: right;
}
#menu-links ul li{
    padding-bottom: 6px;
}
.open-menu{
    display: block !important;
    top: 124px !important;
}

}
@media screen and (max-width:349px){
    #navbar{
        height: 161px;
    }
}
@media screen and (max-width:347px){
    .us-res{
        display: flow-root;
    }
}

@media screen and (max-width:349px){
    #drop-btn {
       top:132px
    }
}




